# modified: 2026-02-26

parameters:
  level: 8
  paths:
    - bin
    - card
    - cards
    - deck
    - decks
    - header.php
    - help
    - index.php
    - languages
    - src
  excludePaths:
    - var
    - vendor
